<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=10">
    <title>ระบบลงทะเบียนล่าช้า</title>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <link rel="stylesheet" href="css/forgotpassword.css" type="text/css">

    <script>
        function sents(){
            setTimeout(() => {
                Swal.fire({
                
                icon: 'success',
                title: 'ดำเนินการเสร็จสิ้น',
                showConfirmButton: false,
                timer: 3000
                
            }).then((result)=>{
                window.location = "/";
            })
            }, 500)
 
        }
    </script>


</head>
<body>
    <div class="container-center">
      <center>
      <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Emblem_of_Thammasat_University.svg/768px-Emblem_of_Thammasat_University.svg.png" width="40%" >
        </center>
    <h2>ลืมรหัสผ่าน</h2>
    <form action="#">
      <h4>
        กรอกที่อยู่อีเมลล์<br> 
        ระบบจะทำการส่งอีเมลล์เปลี่ยนรหัสผ่านให้ท่าน
      </h4>
      <formgroup>
        <input type="text" name="email"/>
        <label for="email"><br>Your Email</label>
        <span>enter your email</span>
      </formgroup>
      
      <button class="btnx" onclick="sents()">ต่อไป</button>

    </form>
    <p>จำได้รหัสผ่านแล้ว? <a href="/login">เข้าสู่ระบบ</a></p>
  </div>
  </body>

</html>