<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=10">
    <title>ระบบลงทะเบียนล่าช้า</title>
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
              $('#myModal').modal('show');
      });
    </script>
    <script>
      window.onload = function(){
        var element = document.getElementById("error_message");
        element.classList.toggle("alert-null");
        /*if (element.classList) { 
          element.classList.toggle("alert-null");
        }*/
      };
    </script>

    <script>
      /*const rmCheck = document.getElementById("rememberMe"),
      userInpit = document.getElementById("user");

      if (localStorage.checkbox && localStorage.checkbox !== "") {
        rmCheck.setAttribute("checked", "checked");
        userInpit.value = localStorage.username;
      } else {
        rmCheck.removeAttribute("checked");
        userInpit.value = "";
      }

      function lsRememberMe() {
        if (rmCheck.checked && userInpit.value !== "") {
          localStorage.username = userInpit.value;
          localStorage.checkbox = rmCheck.value;
        } else {
          localStorage.username = "";
          localStorage.checkbox = "";
        }
      }*/
    </script>

</head>

<body>
    <div class="row" style="box-shadow: 0px 2px 10px 0.2px #858585;">
      <div class="column" style="background-color:#d14f4b;">
        <img src="img/div_1.jpg" alt="Girl in a jacket" width="550" height="758">
      </div>
      <div class="column" style="background-color:#d14f4b;">
        
        <form action="/api" class="login-form" method="POST">
          <h1>เข้าสู่ระบบ (นักศึกษา/บุคลากร)</h1>
          <div class="txtb">
              <input type="text" id="user" name="user" placeholder="Username" value="" required>
          </div>
          <div class="txtb">
              <input type="password" id="pwd" name="pwd" placeholder="Password" value="" required>
          </div>
          
          <div style="padding-left: 72% ;padding-bottom: 5%;">
            <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Remember me</label>
            <!--<input type="checkbox" id="passWordRemem" name="passWordRemem" value=true>
            <label for="passWordRemem">Remember me</label><br>-->
          </div>

          <!--<div class="errorContainer" style="padding: 0px 10px 20px;">
            <label class="error-message"></label>
          </div>-->
          <div class="alert-error" id="error_message">
            <h6><% if (locals.errors) { %>
              <div class="err_msg" style="padding: .75rem 1.25rem;margin-bottom: 1rem;border: 1px solid transparent;border-radius: .25rem;color: #a94442;background-color: #f2dede;border-color: #ebccd1;">
                User or Password Invalid!
                <!--<% Object.values(errors).forEach(function(error){ %><%= error%><% }); %>-->
              </div>
              
            <% }
            %></h6>
          </div>
          <div style="padding-left: 198px ;">
            <input type="submit" class="logbtn" value="Login" onclick="lsRememberMe()">
            <input type="reset" class="logbtn" value="Reset">
          </div>
          <div style="max-width: 398px; text-align: center;">
            <hr><a href="forgotpassword?#" class="forgot-password">Forgot password?</a>
          </div>
  
        </form>
        

      </div>
    </div>

<!-- MODAL -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="max-width: fit-content;">
          <!-- Modal content-->
          <div class="modal-content">
            <img src="img/modal_1.jpg" alt="img" style="width:1000px;">
    
            <!--<div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"></h4>
            </div>-->

            <div class="modal-body"></div >
            <div class="modal-footer" >
              <button type="button" class="btn btn-default" data-dismiss="modal" style="border: 1px solid #d14f4b;">Close</button>
            </div>
          </div>
          
        </div>
      </div>
    
    </div>
</body>
</html>