<html>
   <!DOCTYPE HTML>
   <html lang="en">
   <head>
       <meta charset="utf-8">
       <title>New Line Alert JavaScript (www.javascriptthai.com)</title>
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
       <script>
        function sents(){
          
          Swal.fire(
            'Good job!',
            'You clicked the button!',
            'success'
          )
        }
      </script>
       
    </head>

    <body>
        <input type="button" class="button_active" onclick="sents()" value="GGG"/>
    </body>
</html>