@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: rgb(223, 223, 223);
  overflow-x: hidden;
  font-family: 'Kanit', sans-serif;
}

/* Toggle Styles */

#viewport {
  /*background-color: rgb(223, 223, 223);*/
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

.div-content-header-bar{
  background-color: #EBEDEF ;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #c1cad3;
  max-width: 100%;
  width: 95%;
  height: 50px;
  padding: 12px;
  margin: left;
}

.div-content-inside-bar{
  border: 1px solid #c1cad3;
  background-color: #FFFFFF;
  max-width: 100%;
  width: 95%;
  max-height: 500px;
  height: auto;
  margin: left;
  padding: 10px;
  
}

.img-responsive{
  width: 100%;
  max-width: 530px;
  height: auto;
  float: right;
}

.navbar {
    height: 7%;
    max-height: 20%;
    padding-left: 250px;
    /*background-color: #455A64;*/
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 2px 0 6px rgba(0,0,0,.1);
}

.navbar-default {
  background-image: url('img/header_nav.png');
  max-width: 1920px;
  width: auto;
  background-color: #d14f4b;
  color: white;
}

.banner{
  
  background-color: #d14f4b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center!important;
  padding-bottom: 1.5rem!important;
  /*padding-top: 1.5rem!important;*/
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}


/* Sidebar Styles */

#sidebar {
  z-index: 0;
  position: fixed;
  
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #757575;
  font-size: 20px;
  line-height: 193px;
  text-align: center;
}

#sidebar header a {
  
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav{
  
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: #f1ad18;
  color: black;
  font-weight: bold;
  /*color: #ECEFF1;*/
}

#sidebar .nav a i{
  margin-right: 16px;
}

.bg-wrap {
  width: 100%;
  position: relative;
  z-index: 0;
}

.bg-wrap .user-logo h3 {
  color: #fff;
  font-size: 18px;
}

.bg-wrap .user-logo h4 {
  color: #fff;
  font-size: 14px;
}

.bg-wrap .user-logo .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.bg-wrap:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #000;
  opacity: .3;
}
element.style {
  background-image: url(images/bg_1.jpg);
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.text-center {
  text-align: center!important;
}
.pb-4, .py-4 {
  padding-bottom: 2.5rem!important;
}
.pt-4, .py-4 {
  padding-top: 2.5rem!important;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*form main2*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.fixed-brand {
  
  width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav li {
  text-indent: 15px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FAFAFA;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.no-margin {
  margin: 0;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  .fixed-brand {
    width: 100%;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled-2 sidebar-wrapper {
    width: 150px;
  }
  #wrapper.toggled-2 sidebar-wrapper:hover {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 250px;
  }
  #wrapper.toggled-2 #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-left: -200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

/*notifications*/

.navbar .badge {
  background: #d1d1d1;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  padding: 4px 6px 0;
  min-height: 18px;
  top: 5px;
}

.navbar ul.nav li a.notifications, .navbar ul.nav li a.messages {
  position: relative;
  margin-right: 10px;
}
.navbar ul.nav li a.messages {
  margin-right: 20px;
}
.navbar a.notifications .badge {
  margin-left: -8px;
}

.margin-left{
  margin: left;
  padding: 10px;
}

.div-buttom-bar{
  border-radius: 5px 5px 5px 5px;
  
}

/* Notifications */


button {
  display: block;
  padding: 1em 2em;
  outline: none;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: #3498db;
  border: 1px solid #1f74ac;
  border-radius: 0.3em;
  /*margin-top: 4em;*/
  cursor: pointer;
}

button:hover {
  background-color: #2487c9;
}

/* Notifications */

.notification {
  display: inline-block;
  position: relative;
  padding: 0.6em;
  background: #d14f4b;
  border-radius: 0.2em;
  font-size: 1.3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.notification::before, 
.notification::after {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.notification::before {
  display: block;
  content: "\f0f3";
  font-family: "FontAwesome";
  transform-origin: top center;
}

.notification::after {
  font-family: Arial;
  font-size: 0.7em;
  font-weight: 700;
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 5px 8px;
  line-height: 100%;
  border: 2px #fff solid;
  border-radius: 60px;
  background: #3498db;
  opacity: 0;
  content: attr(data-count);
  opacity: 0;
  transform: scale(0.5);
  transition: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.notification.notify::before {
  animation: ring 1.5s ease;
}

.notification.show-count::after {
  transform: scale(1);
  opacity: 1;
}

.box-notification{
  /*position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;*/
  width: 100%;
  max-width: 50px;
  height: auto;
  float: right;
  margin-top: 40px;
  margin-right: 25px;
}
/* Notifications */
/* this */
.icon_wrap{
  cursor: pointer;
}

.notifications{
  margin-right: 25px;
}

.notifications .icon_wrap{
  font-size: 18px;
}

.notifications{
  position: relative;
}

.notification_dd{
  position: absolute;
  top: 48px;
  right: -15px;
  user-select: none;
  background: #fff;
  border: 1px solid #c7d8e2;
  width: 350px;
  height: auto;
  display: none;
  border-radius: 3px;
  box-shadow: 10px 10px 35px rgba(0,0,0,0.125),
              -10px -10px 35px rgba(0,0,0,0.125);
}

.notification_dd:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
}

.notification_dd li {
    border-bottom: 1px solid #f1f2f4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.notification_dd li .notify_icon{
  display: flex;
}

.notification_dd li .notify_icon .icon{
  display: inline-block;
  background: url('https://i.imgur.com/lX846Zo.png') no-repeat 0 0;
	width: 40px;
	height: 42px;
}

.notification_dd li.baskin_robbins .notify_icon .icon{
  background-position: 0 -43px;
}

.notification_dd li.mcd .notify_icon .icon{
  background-position: 0 -86px;
}

.notification_dd li.pizzahut .notify_icon .icon{
  background-position: 0 -129px;
}

.notification_dd li.kfc .notify_icon .icon{
  background-position: 0 -178px;
}

.notification_dd li .notify_data{
  margin: 0 15px;
  width: 185px;
}

.notification_dd li .notify_data .title{
  color: #000;
  font-weight: 600;
}

.notification_dd li .notify_data .sub_title{
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.notification_dd li .notify_status p{
  font-size: 14px;
}

.notification_dd li.success .notify_status p{
  color: #47da89;
}

.notification_dd li.pendding .notify_status p{
  color: #f1ad1a;
}

.notification_dd li.failed .notify_status p{
  color: #fb0001;
}

.notification_dd li.show_all{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.notification_dd li.show_all p{
  font-weight: 700;
  color: #3b80f9;
  cursor: pointer;
}

.notification_dd li.show_all p:hover{
  text-decoration: underline;
}

.notifications.active .notification_dd{
  display: block;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    display: none;
}

.popup .shadow {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.popup .inner_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
}

.popup .notification_dd{
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: auto;
}

.popup .notification_dd:before{
   display: none;
}

.popup .notification_dd li.title{
  font-weight: 700;
  color: #3b80f9;
  display: flex;
  justify-content: center;
  position: relative;
}

.popup .notification_dd li.title .close{
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup .notification_dd li.title .close:hover{
  opacity: 0.5;
}

/* AGREEMENT */

.item{
	/*flex:0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;*/
}

.item .item-inner{
	/*border:1px solid #dddddd;
	padding: 30px;*/
}
.item .read-more-cont{
	display: none;
}

.data{
  display: none;
}
/*.item .item-inner h3{
	font-size: 20px;
	color:#000000;
	margin-bottom: 30px;
	position: relative;
}*/
/*.item .item-inner h3::before{
  content: '';
  height: 1px;
  width: 80px;
  background-color: #000000;
  position: absolute;
  left:0;
  bottom:-10px;
}*/

/*.item .item-inner p{
	color:#555555;
	font-size: 16px;
	margin:0 0 30px;
}*/

.item .item-inner .btn{
	font-size: 16px;
	background-color: transparent;
	border:1px solid #555555;
	color:#555555;
	padding: 8px 15px;
	cursor: pointer;
}

.popup-box{
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top:0;
	background-color: rgba(0,0,0,0.5);
	z-index: 500;
	visibility: hidden;
	opacity:0;
	transition: all 0.5s ease-in-out;
}
.popup-box.open{
  visibility: visible;
	opacity:1;	
}
.popup-box .popup-content{
	background-color: #ffffff;
	width: 600px;
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	border-radius: 8px;
}

.popup-box .popup-header{
	padding: 15px 40px 15px 15px;
	border-bottom: 1px solid #dddddd;
}
.popup-box .popup-header h3{
	margin:0;
	color:#E91E63;
	font-size: 20px;
}
.popup-box .popup-header .popup-close-icon{
	position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #555555;
    font-size: 28px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.popup-box .popup-body{
	padding: 15px;
	max-height: 500px;
	overflow-y: auto;
}
.popup-box .popup-body img{
	width: 100%;
	display: block;
	margin-top: 15px;
}
.popup-box .popup-body p{
	font-size: 16px;
	color:#555555;
	margin:0 0 15px;
}
.popup-box .pop-footerx{
  padding: 15px;
	border-top:1px solid #dddddd;
  text-align: right;
  
}
.popup-box .popup-footer{
  padding-top: 0px;
	padding: 15px;
	border-top:1px solid #dddddd;
	text-align: right;
}
.popup-box .popup-footer .btn{
	padding: 8px 15px;
	border:1px solid #555555;
	color:#555555;
	font-size: 16px;
	background-color: transparent;
	cursor: pointer;
	border-radius: 4px;
}
.popup-box .popup-footer .btn:focus{
	outline: none;
}


/*responsive*/

@media(max-width: 767px){
	.item{
	  flex:0 0 100%;
      max-width: 100%;
   }
   .popup-box .popup-content{
   	 width: calc(100% - 30px);
   }
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: auto;
  padding: 20px;
   /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media (min-width: 1200px){
  .container {
      width: 1170px;

      
  }
}

#panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-primary {
  margin-top: 20px;
  max-width: auto;
  /*width: 100%;*/
  border-color: #d14f4b;
}
.dialog-panel {
  margin: 20px 10px;
  
}
.panel-heading {
  padding: 5px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-primary>.panel-heading {
  color: #fff;
  background-color: #d14f4b;
  border-color: #d14f4b;
}

.panel-body{
  
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 0 rgba(0, 0, 0, 0.19);
}

